<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">Game</a>
    </div>
    <ul class="nav navbar-nav">
      <li><a href="" ng-click="CTRL.chatToggle()">Chat</a></li>
      <li ng-if="!CTRL.currentUser.isLoggedIn"><a href="/login">login</a></li>
      <li ng-if="!CTRL.currentUser.isLoggedIn"><a href="/register">Register</a></li>
      <li ng-if="CTRL.currentUser.isLoggedIn"><a href="" ng-click="CTRL.logout()">Logout</a></li>
      <li ng-if="CTRL.currentUser.isLoggedIn" class="pull-right">
        <a href="">
        {{CTRL.currentUser.firstName}}
        {{CTRL.currentUser.lastName}}
        </a>
      </li>
    </ul>
  </div>
</nav>
